*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

nav {
    background-color: #fbfcfb;
    color: white;
    text-align: center;
    float: right;}
ul li{
        list-style-type:none;
        width:200px;   
        display: inline-block;
        padding: 20px;
        margin: o auto;
}
#container{
    width:95%;
     margin:0 auto;}
#home {


        height:50vh;
        background:  url("images/ezgif-2-b583d0ce77.png") no-repeat center center/cover;
    }
/* .img1{
        width: 300px;
        float: left;
        margin: 30px;

  } */
 
.about{
          width: 40%;
          /* margin: 30px; */
          float:left;
          
        }
 .us{
    float: right;
    width: 50%;

 }       
#doctors{
box-shadow: 0px 0px 5px;
width: 300px;
float: left;
margin: 30px;
padding: 15px;
}            
#care{
    box-shadow: 0px 0px 5px;
    width: 300px;
    float: left;
    margin: 30px;
    padding: 15px;


}
#service{
    box-shadow: 0px 0px 5px;
    width: 300px;
    float: left;
    margin: 30px;
    padding: 15px;


}

.footer-content>div{
float: left;
width: 25%;

}

.footer-logo{
    width: 50%;
}

.social-icons img{
    width: 40px;
}
.health{
    
    color: rgb(0, 162, 255);
    position: relative;
    font-size: 60px;
    padding: 15px;

}
.quality-care{
    float: right;
    padding: 15px;
}    

.button1{
    background-color: #496BF2;
    padding: 15px;
    margin: 20px;
}
.button2{
    background-color: #2DD6C1;
    padding: 15px;
    margin: 20px;
}
.button3{
    background-color: #496BF2;
    padding: 15px;
    margin: 20px;
}
.clearfix{
    clear: both;
}
.d{
    color: #496BF2;
}
#contact{
    padding: 15px;
    height:50vh;
    background:  url("images/ezgif-2-81a50240fb.png") no-repeat center center/cover;
    margin: 30px;

}
#testimonials{    
    padding: 15px;
    text-align: center;
}
.h2{
    text-align: center;
}
.span1{
    color: #2DD6C1;
}
.span2{
    color: #496BF2;
}
.li{
    float: left;
}







