* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 10;
}
.img {
  margin: 20px;
}

nav {
  background-color: #fbfcfb;
  color: white;
  text-align: center;
  float: right;
  padding: 10px;
  margin: 10px;
}
ul li {
  list-style-type: none;
  width: 200px;
  display: inline-block;
  padding: 20px;
  margin: o auto;
}
#container {
  width: 95%;
  margin: 20px;
}
#home {
  height: 50vh;
  background: url("images/ezgif-2-b583d0ce77.png") no-repeat center center/cover;
}
.img1 {
  width: 50%;
  float: left;
  margin: 30px;
}
#about1 {
  position: relative;
  text-align: center;
}

.about {
  width: 40%;
  margin: 30px;
}
.us {
  float: left;
  width: 50%;
  margin: 30px;
}
#doctors {
  box-shadow: 0px 0px 5px;
  width: 300px;
  float: left;
  margin: 30px;
  padding: 15px;
}
#care {
  box-shadow: 0px 0px 5px;
  width: 300px;
  float: left;
  margin: 30px;
  padding: 15px;
}
#service {
  box-shadow: 0px 0px 5px;
  width: 300px;
  float: left;
  margin: 30px;
  padding: 15px;
}
footer {
  margin: 20px;
}
.footer-content > div {
  float: left;
  width: 25%;
}

.footer-logo {
  width: 50%;
}

.social-icons img {
  width: 40px;
}
.health {
  color: rgb(0, 162, 255);
  position: relative;
  font-size: 60px;
  padding: 15px;
}
.quality-care {
  float: right;
  padding: 15px;
}
.but {
  background-color: #496bf2;
  padding: 20px;
}
.button1 {
  background-color: #496bf2;
  padding: 15px;
  margin: 20px;
}
.button2 {
  background-color: #2dd6c1;
  padding: 15px;
  margin: 20px;
}
.button3 {
  background-color: #496bf2;
  padding: 15px;
  margin: 20px;
}
.clearfix {
  clear: both;
}
.d {
  color: #496bf2;
}
#contact {
  padding: 35px 20px;
  height: 100vh;
  background: url("images/ezgif-2-81a50240fb.png") no-repeat center center/cover;
  margin: 30px;
}

.h2 {
  text-align: center;
}
.span1 {
  color: #2dd6c1;
}
.span2 {
  color: #496bf2;
}
.contact-details p {
  display: inline-block;
  padding-left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#name {
  margin: 20px;
  padding: 20px 30px;
  display: block;
}
.contact-details > div {
  margin-top: 20px;
  position: relative;
}
#testimonials {
  text-align: center;
}
.testimonials-circle {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: 90px;
  background-color: #2dd6c1;
  border-radius: 30px;
  float: left;
}
.testimonials-circle:first-child {
  background-color: #496bf2;
}
.testimonials-circle:nth-last-child(2) {
  margin: 0 20px;
}
.circle {
  margin: 0 auto;
  width: 20%;
  background-color: crimson;
}
